* {
    margin: 0;
}

#main {
    display: grid;
    grid-template-rows: 2fr 7fr 0.5fr;
    height: 100vh;
}

#headerBox {
    background-color: darkred;
    color: white;
    padding: 1rem;
    text-align: center;
}

#headerTitle {
    font-size: 3rem;
}

#headerSubTitle {
    font-size: 2rem;
}

#playBox {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    justify-content: center;
    align-items: center;
}

#announcementsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainAnnouncement {
    font-size: 3rem;
}

#subAnnouncement {
    font-size: 1.5rem;
}

#gameBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: bisque;
    gap: 1rem;
}

#playerGameBox, #computerGameBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin: 0.5rem;
    width: 20vw;
    height: 20vw;
    padding: 0.5rem;
}

#playerGameIcon, #computerGameIcon {
    font-size: 6rem;
}

#playerChoices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#playerChoices>button {
    font-size: 3rem;
}

#gameOverAnnouncement {
    font-size: 3rem;
    text-align: center;
}

#outcomeAnnouncement {
    font-size: 6rem;
    text-align: center;
}

#playAgainBtn {
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    background-color: lightgreen;
}

#footerBox {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}