* {
    margin: 0;
}

#main {
    display: grid;
    grid-template-rows: 2fr 7fr 0.5fr;
    height: 100vh;
}

#headerBox {
    background-color: slategrey;
    padding: 1rem;
}

#gameBox {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

#footerBox {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}